<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Banana Search | Homepage</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/landing-page.min.css" rel="stylesheet">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="#"><img src="img/logo-small.png" width="60" height="auto" class="d-inline-block align-top" alt="">  Banana Search</a>

        <form>
            <div class="form-row" >
                <div class="col-12 col-md-9 mb-2 mb-md-0">
                    <input type="keyword" class="form-control form-control-lg" style ="height: 38px;width: 500px;" placeholder="Search keyword">
                </div>
                <div class="col-12 col-md-3">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>
        <a class="btn btn-primary" href="#">Log In</a>
    </div>

</nav>

<!-- Masthead -->
<header class="text-black" style="margin-top:20px;">
    <div class="overlay"></div>
    <div class="container">

        <dl class="row">

            <dt class="col-sm-1">Authors</dt>
            <dd class="col-sm-11">"Juliet Nakakawa", "Joseph Y. T. Mugisha", "Michael W. Shaw", "William Tinzaara", "Eldad Karamura"</dd>

            <dt class="col-sm-1">Title</dt>
            <dd class="col-sm-11">Banan Xanthomonas Wilt Infection - The Role of Debudding and Roguing as Control Option within a Mixed Cultivar Plantation</dd>

            <dt class="col-sm-1">Venue</dt>
            <dd class="col-sm-11">Int. J. Math. Mathematical Sciences</dd>

            <dt class="col-sm-1">Volume</dt>
            <dd class="col-sm-11">2017</dd>

            <dt class="col-sm-1">Pages</dt>
            <dd class="col-sm-11">4865015:1-4865015:13</dd>

            <dt class="col-sm-1">Year</dt>
            <dd class="col-sm-11">2017</dd>

            <dt class="col-sm-1">Type</dt>
            <dd class="col-sm-11">Journal Articles</dd>

            <dt class="col-sm-1">Key</dt>
            <dd class="col-sm-11">journals/ijmmsc/NakakawaMSTK17</dd>

            <dt class="col-sm-1">DOI</dt>
            <dd class="col-sm-11">10.115/2017/4865015</dd>

            <dt class="col-sm-1">EE</dt>
            <dd class="col-sm-11">https://doi.org/10.115/2017/4865015</dd>

            <dt class="col-sm-1">URL</dt>
            <dd class="col-sm-11">https://dblp.org/rec/journals/ijmmsc/NakakawaMSTK17</dd>




        </dl>


    </div>
</header>

<!-- Footer -->
<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item">
                        <a href="#">About</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="#">Contact</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="#">Terms of Use</a>
                    </li>
                    <li class="list-inline-item">&sdot;</li>
                    <li class="list-inline-item">
                        <a href="#">Privacy Policy</a>
                    </li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2018. All Rights Reserved.</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item mr-3">
                        <a href="#">
                            <i class="fab fa-facebook fa-2x fa-fw"></i>
                        </a>
                    </li>
                    <li class="list-inline-item mr-3">
                        <a href="#">
                            <i class="fab fa-twitter-square fa-2x fa-fw"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#">
                            <i class="fab fa-instagram fa-2x fa-fw"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
